@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
    background-image: linear-gradient(to right, #6800e0, #c6c0cc);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.scroll-content {
    height: 60%;
    overflow-y: auto;
}

/* .debug {
    border: 2px solid red !important;
    & > * {
        border: 2px solid green !important;
        & > * {
            border: 2px solid blue !important;
        }
    }
} */